Source: cluck
Section: net
Priority: optional
Maintainer: Alexis Wilke <alexis@m2osw.com>
Build-Depends: cmake,
    communicatord-dev (>= 2.0.0.0~jammy),
    debhelper,
    dh-exec,
    dh-sysuser,
    doxygen,
    eventdispatcher-dev (>= 1.1.51.0~jammy),
    fluid-settings-dev (>= 1.0.0.0~jammy),
    graphviz,
    libaddr-dev (>= 1.0.8.215~jammy),
    libadvgetopt-dev (>= 2.0.4.0~jammy),
    libboost-dev,
    libexcept-dev (>= 1.0.2.250~jammy),
    libutf8-dev (>= 1.0.13.0~jammy),
    murmur3-dev (>= 1.0.5.0~jammy),
    serverplugins-dev (>= 2.0.4.0~jammy),
    snapcatch2 (>= 2.9.1.0~jammy),
    snapcmakemodules (>= 1.0.35.3~jammy),
    snapdev (>= 1.0.0.0~jammy),
    snaplogger-dev (>= 1.0.0.0~jammy)
Standards-Version: 3.9.4
Homepage: https://snapwebsites.org/
Vcs-Git: https://github.com/m2osw/snapcpp.git
Vcs-Browser: https://github.com/m2osw/prinbee

Package: cluck
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A service to handle cluster wide locks.
 This service and library are used to obtain cluster wide locks in your
 Snap! C++ or other environment.

Package: cluck-doc
Section: doc
Architecture: all
Depends: ${misc:Depends}
Recommends: cluck (= ${binary:Version})
Description: Document the cluck library.
 The documentation of the cluck library.

Package: cluck-dev
Section: libdevel
Architecture: all
Depends: cluck (= ${binary:Version}), ${misc:Depends}
Suggests: cluck-doc
Description: The development environment of cluck.
 The headers and other files necessary to compile your own code agains the
 cluck library.
